<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>loginValidation</servlet-name>
        <servlet-class>action.loginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateOperation</servlet-name>
        <servlet-class>action.validateOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateIdea</servlet-name>
        <servlet-class>action.validateIdea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateRating</servlet-name>
        <servlet-class>action.validateRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateUser</servlet-name>
        <servlet-class>action.validateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ideaUpdate</servlet-name>
        <servlet-class>action.ideaUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>action.updatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userUpdate</servlet-name>
        <servlet-class>action.userUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginValidation</servlet-name>
        <url-pattern>/loginValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateOperation</servlet-name>
        <url-pattern>/validateOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateIdea</servlet-name>
        <url-pattern>/validateIdea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateRating</servlet-name>
        <url-pattern>/validateRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateUser</servlet-name>
        <url-pattern>/validateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ideaUpdate</servlet-name>
        <url-pattern>/ideaUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userUpdate</servlet-name>
        <url-pattern>/userUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>